body {
    margin-left: 160px;
    margin-right: 160px;
    background-color: #F1F1F3;
}

header {
    padding-top: 31px;
}
/* Global css */
* {
    margin: 0px;
    padding: 0px;
}

/* Font styles */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }

  /* Shared Styles */
.margin-top {
  margin-top: 24px;
}
  
  /* Nav Styles */
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 31px;
  }
  
  .nav-title {
    font-size: 32px;
  }

  nav ul li {
    list-style: none;
  }

  nav li button {
    font-size: 18px;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    border: 1px solid #006A50;
    color: #006A50;
    background-color: #F5F5F5;
  }

  /* Banner Styles */

  .banner {
    display: flex;
    justify-content: space-evenly;
    background-color: #C6E4D6;
    /* margin-top: 12px; */
    align-items: center;
    border-radius: 15px;
    margin-bottom: 80px;
    height: 560px;
  }

  .banner-title {
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
  }

  .banner-subtitle {
    font-size: 56px;
    color: #0E0E0E;
  }
  .banner-button {
    padding: 17px 34px 17px 34px;
    background-color: #006A50;
    border-style: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 24px;
  }

  /* Pillars of Bangladesh 2.0 */

  .pillars {
    margin-top: 80px;
  }

  .pillars-container {
    display: flex;
    margin-top: 32px;
    gap: 24px;
  }

  .pillar {
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 10px;
  }

  .pillars-title {
    font-size: 40px;
    color:#0E0E0E;
  }

  .pillar-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
  }

  .pillar-description {
    font-size: 16px;
  }