body {
    margin-left: 160px;
    margin-right: 160px;
    background-color: #F1F1F3;
}

header {
    padding-top: 31px;
}
/* Global css */
* {
    margin: 0px;
    padding: 0px;
}

/* Font styles */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }

  /* Shared Styles */
.margin-top {
  margin-top: 24px;
}

.font-color1 {
  background-color: #C6E4D6;
}

  /* Nav Styles */
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 31px;
  }
  
  .nav-title {
    font-size: 32px;
  }

  nav ul li {
    list-style: none;
  }

  nav li button {
    font-size: 18px;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    border: 1px solid #006A50;
    color: #006A50;
    background-color: #F5F5F5;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button1:hover {
      background-color: #04AA6D;
      color: white;
  }

  /* Banner Styles */

  .banner {
    display: flex;
    justify-content: space-evenly;
    background-color: #C6E4D6;
    /* margin-top: 12px; */
    align-items: center;
    border-radius: 15px;
    margin-bottom: 80px;
    height: 560px;
  }

  .banner-title {
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
  }

  .banner-subtitle {
    font-size: 56px;
    color: #0E0E0E;
  }
  .banner-button {
    padding: 17px 34px 17px 34px;
    background-color: #006A50;
    border-style: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 24px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .banner-button:hover {
    background-color: #269dad;
    color: white;
}

  /* Pillars of Bangladesh 2.0 */

  .pillars {
    margin-top: 80px;
  }

  .pillars-container {
    display: flex;
    margin-top: 32px;
    gap: 24px;
    justify-content: space-between;
  }

  .pillar {
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 244px;
  }

  .pillars-title {
    font-size: 40px;
    color:#0E0E0E;
  }

  .pillar-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
  }

  .pillar-description {
    font-size: 16px;
  }

  /* Vision of Bangladesh */

  .vision {
    margin-top: 80px;
  }

  .vision-title {
    font-size: 40px;
    color: #0E0E0E;
  }

  .vision-description {
    font-size: 16px;
    margin-top: 24px;
    color: rgba(14, 14, 14, 0.7);
  }

  .items-container {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  .items-title {
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
  }

  .items-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
  }

  .items {
    height: 325px;
    width: 410px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 15px;
    padding: 24px;
  }
  
  .items1 {
    height: 325px;
    width: 410px;
    background-color: #C6E4D6;
    border-radius: 15px;
    padding: 24px;
  }

  .items2 {
    border-radius: 15px;
    height: 325px;
    width: 410px;
    padding: 24px;
    background-color: rgba(247, 235, 207, 1);
  }

  .item-button1, .item-button2, .item-button3 {
    padding: 11px 20px 11px 20px;
    border-radius: 10px;
    border:none;
    font-size: 16px;
    color: #FFFFFF;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .item-button1 {
    background-color: #5490F5;
  }
  .item-button1:hover {
    background-color: #09A15C;
    color: white;
}
  .item-button2 {
    background-color: #09A15C;
  }
  .item-button2:hover {
    background-color: #FFC239;
    color: white;
}
  .item-button3 {
    background-color: #FFC239;
  }
  .item-button3:hover {
    background-color: #5490F5;
    color: white;
}

  /* Section 2 Styles */

  .section-container {
    padding: 48px 24px 48px 24px;
    background-color: #FFFFFF;
    border-radius: 15px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 30px 34px;
  }

  .section-description {
    line-height: 24px;
    font-size: 16px;
    color: #0E0E0E;
  }
  .section-title {
    margin-top: 12px;
    font-size: 20px;
    color: #0E0E0E;
  }

  .section-subtitle {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
    margin-top: 5px;
  }

  /* Opinion section design */

  .opinion {
    margin-top: 80px;
  }

  .opinion-title {
    font-size: 40px;
    color: #0E0E0E;
  }

  .opinion-container {
    background-color: #FFFFFF;
    padding: 32px 32px 32px 32px;
    margin-top: 24px;
    border-radius: 15px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

th {
  border: 1px solid #D9D9D9;
  padding: 24px 24px 24px 24px;
  font-size: 20px;
  color: #0E0E0E;
  text-align: left;
}

  .opinion-description, td {
    border: 1px solid #D9D9D9;
    padding: 24px 24px 24px 24px;
    font-size: 16px;
    color: #0E0E0E;
  }

  .opinion-button {
    padding: 12.5px 52.5px 12.5px 16.5px;
    font-size: 16px;
    color: #0E0E0E;
    background-color: rgba(9, 161, 92, 0.15);
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.opinion-button:hover {
background-color: #269dad;
color: white;
}

  /* News Section Style */
  .news-section {
    margin-top: 80px;
  }

  .content-title {
    font-size: 40px;
    color: #0E0E0E;
  }

  .content-description {
    margin-top: 24px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
  }

  .news-container{
    display: flex;
    background-color: #FFFFFF;
    padding: 48px 48px 48px 48px;
    margin-top: 32px;
    border-radius: 15px;
    gap: 32px;
    align-items: center;
  }

  .news-container img {
    border-radius: 17px;
  }

  .news-title {
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
  }

  .time-date , .news-description  {
    font-size: 16px;
    color:rgba(14, 14, 14, 0.7);
    margin-top: 12px;
  }

  .news-button {
    margin-top: 32px;
    padding: 13px 26px 13px 26px;
    border-radius: 10px;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #006A50;
    border: none;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.news-button:hover {
  background-color: #269dad;
  color: white;
}

  /* Donation Section */

  .donation {
    margin-top: 80px;
    align-items: center;
  }

  .donation-title {
    font-size: 40px;
    color: #0E0E0E;
    text-align: center;
  }

  .donation-description {
    margin-top: 24px;
    text-align: center;
    padding: 0 88px 0 88px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
  }

  .donation-container {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-around;
    padding: 32px 104.5px 32px 104.5px;
  }

  .items-card {
    width: 240px ;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 15px;
    text-align: center;
    padding: 40px 40px 40px 40px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.items-card:hover {
background-color: #269dad;
color: white;
}

  .button-container {
    margin-left: 724.5px;
    margin-right: 724.5px;
    margin-top: 12px;
  }

  .donation-button {
    /* padding: 17px 34px 17px 34px; */
    border-radius: 10px;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #006A50;
    height: 56px;
    width: 151px;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .donation-button:hover {
    background-color: #269dad;
    color: white;
  }

  .donation-area {
    height: 64px;
    width: 83%;
    border: none;
    margin: 32px 124px 32px 124px;
    text-align: center;
  }

  /* Newsletter Styles */

  .newsletter {
    margin-top: 80px;
    background-color: #C6E4D6;
    padding: 40px 100px 40px 100px;
    border-radius: 10px;
    margin-bottom: 80px;
  }
  
  .newsletter-container {
    margin: 80px 265px 80px 265px;
  }
  .newsletter-title {
    text-align: center;
    font-size: 40px;
    color: #0E0E0E;
  }

  .flex-container {
    display: flex;
    align-items: center;
  }

  .newsletter-description {
    margin-top: 16px;
    text-align: center;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    margin-left: 64px;
    margin-right: 64px;
  }

  input[type="email"] {
    margin-top: 24px;
    border-radius: 5px;
    box-sizing: border-box;
    height: 56px;
    width: 750px;
    border: none;
    background-color: #FFFFFF;
    padding-left: 40px;
  }

  .newsletter-button {
    border: none;
    width: 150px;
    height: 56px;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #006A50;
    margin-top: 24px ;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.newsletter-button:hover {
  background-color: #269dad;
  color: white;
}

  .newsletter-footer {
    margin-top: 24px;
    text-align: center;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
  }